:root {
  --duck: #ffd700;
  --duck-dim: #faf4d1;
  --sec: black;
  
}


body {
  font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  

  flex-direction: column;
  text-align: center;
}
#duck {
  height: 40px;
  width: 40px;
}
#tagline {
font-size: 14px;
position: fixed;
bottom: 20px;
color: #6a6a6a;

}
h1 {
  margin-bottom: 20px;
}
form {
  display: flex;
  align-items: center;
  margin-bottom: 0px;
}
.input-container {
  position: relative;
  text-align: center;
}
#inputField {
  padding: 10px;
  font-size: 16px;
  width: 250px;
  
  border-radius: 5px;
  border: 1px solid #ccc;
  transition: border-color 0.3s; /* Add a transition for smoother change */
  /*height: 35px; /* Set the height of the input field */
  margin-top: 0px;
  
}
#inputField:focus {
  /*border: 2px solid var(--duck);*/
  outline: none; /* Optional: remove the default focus outline */
  border-width: 1px; /* Ensure the border width stays the same on focus */
}


/* Media query for mobile devices */
@media (max-width: 767px) {
  #inputField {
    width: 250px;
  }
}

#submitButton {
  padding: 10px 20px;
  
  font-size: 16px;
  border: none;
  background-color: #fbcc5c;
  color: black;
  border-radius: 5px;
  cursor: pointer;
  opacity: 1;
  margin-left: 5px;
  font-weight: 600;
}
.qButton {
  text-decoration: none;
  background-color: rgba(251, 204, 92, 0.7);
  border: var(--duck);
  color: black;
  display: block;
  opacity: 0.2;
  padding: 2px 10px; /* Adjusted padding */
  font-size: 14px; /* Reduced font size */
  height: 25px;
  border-radius: 5px;
  /*font-weight: bold;*/
}

a {
  text-decoration: underline;
  background-color: none; /*rgba(251, 204, 92, 0.7);*/
  text-decoration-color: #fbcc5c;
  padding: 5px 10px;
  color: black;
  display: block;
  margin-top: 10px;
  text-decoration-thickness: 2px; /* Adjusting underline thickness */
  text-underline-offset: 2px; /* Adjusting underline offset */
  font-size: 16px;
}


#urlDisplay {
  font-size: 24px;
  font-weight: bold;
  margin-left: 10px;
  
  display: block;
  
}

#logoContainer {
  display: flex;
  width: 100px; /* Adjust the width as needed */
  

  align-items: center;
  margin-bottom: 10px;
}

#qkrsText {
  /*font-size: 24px;*/
  font-weight: bold;
  margin-left: 10px;
  margin-bottom: 0px;
}


#openModal {
  position: fixed;
  top: 20px;
  right: 20px;
  width: 25px;
  height: 25px;
  background-color: none;
  border-radius: 99%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
  opacity:1;
  padding: 5px;
  text-decoration: none;

}

.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}


