:root {
    --bg-icon: none;
    --icon-right: 5px;
}

body,
html {
  margin: 0;
  padding: 0;

  height: 100%;
}

body {
  font-family: "Manrope", sans-serif;
}

#textInput {
  font-family: "Manrope", sans-serif;
  width: 95vw;
  height: 100vh;
  padding: 15px;
  padding-right: 35px;
  font-size: 24px;
  border: none;
  outline: none;
  resize: none;
  box-sizing: border-box;
  text-align: left;
  overflow: hidden;
}

#textInput::placeholder {
  color: #aaa;
}


#copyButton {
  position: absolute;
  top: 80px;
  right: var(--icon-right);
  background: none;
  border: none;
  cursor: pointer;

  background-color: var(--bg-icon);
}

#copyButton img {
  width: 24px;
  height: 24px;
}

#closeButton {
  position: absolute;
  top: 19px;
  right: var(--icon-right);
  background: none;
  border: none;
  cursor: pointer;
  background-color: var(--bg-icon);
}

#closeButton img {
  width: 24px;
  height: 24px;
}

#undoButton {
    position: absolute;
    top: 140px;
    right: var(--icon-right);
    background: none;
    border: none;
    cursor: pointer;
    background-color: var(--bg-icon);
    display: none;
  }
  
  #undoButton img {
    width: 24px;
    height: 24px;
  }

  #linkButton {
    position: absolute;
    top: 200px;
    right: var(--icon-right);
    background: none;
    border: none;
    cursor: pointer;
    background-color: var(--bg-icon);
    display: block;
  }
  
  #linkButton img {
    width: 24px;
    height: 24px;
  }